/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*common style*/

body {font-family: 'Nunito', sans-serif;}

html { font-size: 16px;}

.container { max-width: 1200px;
    width: 100%;
margin: 0 auto;
padding: 2rem 2rem;}

.flex{ display: flex;
justify-content: space-between;
align-items: center;}


.flex-20 { flex: 0 1 20%;}
.flex-25 { flex: 0 1 25%;}
.flex-30 { flex: 0 1 30%;}

.flex-45{ flex: 0 1 45%;}

.full-width { width: 100%;}

a { text-decoration: none;}

.btn { display: inline-block;
padding: 0.75rem 2rem;
background-color: rgb(241, 68, 68);
color: white;}

h2 { font-size: 2.5rem;
font-weight: 700;}

h3 { font-size: 1.5rem;
font-weight: 700;}

.padding { padding-top:3rem ;
padding-bottom: 3rem;}

.margin { margin-bottom: 2.2rem;}
/*custome styling*/

.brand a{ font-size: 2rem;
font-weight:700;
color: white;

}

.link a{ font-size: 1rem;
margin-left: 1.8rem;
color: white;
font-weight: 700;}

/*hero-section*/

.hero-section { background:   linear-gradient(rgb(90, 90, 236, 0.8),  rgb(90, 90, 236, 0.8)), url(../media/banner.png);
background-repeat: no-repeat;
background-size: cover;
margin-top: -7rem;
padding-top: 8rem ;}

.hero-item h1{ font-size:3rem;
color: white;
font-weight: 700;}

.hero-item strong { color: rgb(253, 9, 9);}

.hero-item p{ font-size: 1.7rem;
color: white;
line-height: 1.1;
padding: 3rem 0;}


/*about section*/


.about-text {font-size: 1.7rem;
	line-height: 1.1;
	padding: 2rem 0;}

/*information-section*/
.info-section {background-color: rgb(223,236,255);}
.info-section h2{ text-align: center;}

fieldset { border: 0.2rem dashed red;
padding: 2rem 1rem;
padding-bottom: 1rem;}

fieldset legend { color: red;
font-size: 1.7rem;
font-weight: 700;
padding: 0 0.5rem;}

fieldset p{ padding-top: 1.3rem;
font-size: 1.3rem;
}

/*schedule section*/


.schedule-section h2{ text-align: center;}


.flex-75{ flex:0 1 75%;}



.aside-bar li { width: 2rem;
height: 2rem;
border: 0.2rem  dashed red;
vertical-align: middle;
font-weight: 700;
font-size: 1.5rem;
border-radius: 50%;
padding: 2.5rem;
margin-bottom: 1rem;
color: red;}

.aside-bar .active-date { background-color: red;
color: white;}















.schedule-item{ padding:0 2rem;}

.schedule-item p { padding-top: 0.5rem ;
	font-size: 1.2rem;
	line-height: 1;
	color: grey;}


.schedule-link {text-align: center;}


/*event activity*/

.event-activity { background-color: rgb(223,236,255);}

.item-center { text-align: center;}
.item-center p{ font-size: 1.3rem;
padding-top: 1rem;
font-weight: 700;}

.item-center:hover{ background-color: rgb(249,35,77);
	padding: 2.2rem 0;
	border-radius: 0.5rem;
color: rgb(223,236,255);}

.active { background-color: rgb(249,35,77);
padding: 2.2rem 0;
border-radius: 0.5rem;
color: white;}

/*banner section*/

.banner { position: relative;}

.play-button { position: absolute;
	font-size: 6rem;
left:37rem;
bottom: 19rem;
}

.play-button i { 
background-color: red;
border-radius: 50%;
color: white;}

/*news section*/

.news-section { background-color: rgb(223,236,255);}

.news-section h2 { text-align: center;}
.news-col h3 { padding-top: 1rem;}
.news-col p{ padding: 1.5rem 0;
color: grey;}

.news-col a{ text-decoration: underline;
	font-weight: 700;
	color: black;
}

.news-col .active-link{ color: red;}

/*footer*/
.footer {background-color: rgb(35,52,123);}

.footer-col h3{ padding-bottom: 2rem;}

.footer-col a{ color: grey;
font-weight: 700;
font-size: 1.1rem;}

.footer-col .align-left {justify-content: left;}

.footer-col .align-left a{ margin-right: 1.5rem;
font-size: 2rem;}

.small { display:block;
	text-align: center;
padding: 1.6rem 0;
background-color: rgb(16,33,105);
color: grey;
font-size: 1.2rem;}